.select-trigger {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.375rem;
  border-width: 1px;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 180px;
}

.select-content {
  overflow: hidden;
  position: relative;
  z-index: 150;
  border-radius: 0.375rem;
  border-width: 1px;
  outline-style: none;
  background-color: red;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.select-item {
  all: unset;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0.375rem;
  padding-left: 1.25rem;
  align-items: center;
  outline-style: none;
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 75ms;
  user-select: none;
}
