<div class="window">
  <div class="window-header">
    <div class="window-title">
      <span class="window-icon"></span>
      <span class="window-title-text">Window Title</span>
    </div>
  </div>
</div>
