body {
  margin: 50px 0;
  background-color: var(--bg);
  color: var(--text);
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font: 18px/1.5 "IBM Plex Sans", sans-serif;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Helpers */
/* Flex */
.flex-wrap {
  flex-wrap: wrap;
}
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.self-flex-end {
  align-self: flex-end;
}

.align-top {
  align-items: flex-start;
}

.align-bottom {
  align-items: flex-end;
}

.baseline {
  align-items: baseline;
}

.center {
  align-items: center;
}

.full-width {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.relaxed {
  line-height: 1.3;
}


.px-1 {
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.ml-auto {
  margin-left: auto;
}
.mt-none {
  margin-top: 0!important;
}

.mt {
  margin-top: var(--gap);
}

.mt-2 {
  margin-top: calc(var(--gap) * 2);
}

.mb {
  margin-bottom: var(--gap);
}

.mb-2 {
  margin-bottom: calc(var(--gap) * 2);
}

.lh-1 {
  line-height: 1;
}
.gap-half {
  gap: calc(var(--gap) / 2);
}

.gap-1 {
  gap: var(--gap);
}

.gap-2 {
  gap: calc(var(--gap) * 2);
}

.no-list {
  list-style: none;
  margin: 0!important;
  padding: 0!important;
}

.text-right {
  text-align: right;
}

.main-center {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 340px);
}
/* Borders and coloring */
.top-border {
  border-top: var(--border) solid var(--faded-line);
  padding-top: var(--gap);
}

.no-border {
  border: none;
}

.faded {
  color: var(--faded-text);
}

.subfaded {
  color: var(--subfaded-text);
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.bg-page {
  background-color: var(--bg);
}
/* Utilities */
[hidden],
template {
  display: none !important;
}

[aria-disabled="true"],
[aria-disabled="true"] span {
  cursor: not-allowed;
  color: var(--faded-text);
  border: 0;
}

/* a11y */
.sr-skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.unset {
  all: unset;
}


