.wrap {
  width: 100%;
  max-width: var(--width);
  margin-left: calc(var(--gap) * 3);
  margin-right: calc(var(--gap) * 3);
}

/* Menu */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.logo {
  width: 2.5rem;
  height: auto;
  display: flex;
  border-bottom: 0;
  color: var(--logo)
}

.menu {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  color: var(--faded-text);
}

.menu > li {
  list-style: none;
}

.menu > li.selected > a,
.menu > li:hover > a,
.menu > li:hover > a span {
  color: var(--text);
  border-bottom: var(--border) solid var(--text);
}


/* Page */
.page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

.content > * {
  width: 100%;
  max-width: var(--width);
}

.date {
  color: var(--faded-text);
  margin-left: 4px;
  font-size: var(--font-small);
}

/* Imgs */
.content figure {
  display: flex;
  gap: calc(var(--gap) / 2);
  flex-direction: column;
  border-radius: var(--radius);
  width: calc(var(--width) + calc(var(--gap)*4));
}

.content > figure > img,
.content > figure > video {
  border-radius: var(--radius);
  object-fit: cover;
  max-height: 500px;
}


.content > figure > a {
  border: none;
}

figcaption {
  text-align: center;
  font-size: var(--font-small);
  font-style: italic;
}

/* Notes */
[role="alert"] {
  padding: var(--gap);
  border-left: 3px solid var(--faded-line);
  background: var(--faded-bg);
  border-radius: var(--radius);
  max-width: var(--width);
  margin: var(--gap) 0;
}

/* Tables */
table {
  table-layout:fixed;
  width:100%;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.875em;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid var(--faded-line);
}

th {
  font-weight: 600;
  vertical-align: top;
  padding-bottom: 1em;
}

tbody tr:first-of-type td {
  padding-top: 1em;
}

td {
  word-wrap: break-word;
  word-break: break-word;
}

th + th,
td + td {
  padding-left: 0.6em; 
}

tr + tr td{
  padding-bottom: 0.6em; 
}

/* Selects */
select {
  padding: 0.5em;
  border-radius: var(--radius);
  border: 1px solid var(--faded-line);
  background: transparent;
  color: var(--faded-text);
  font-size: var(--font-small);
  margin: 0.5em 0;
}

.dot {
  display: inline-block;
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  background-color: var(--faded-text);
}
