/* Breakpoint */

/* Small only */
@media (max-width: 500px) {
    .content figure {
      width: 100%;
      max-width: 100%;
    }

    .content > * {
        width: 100%;
        max-width: 100%;
    }

    .post-info.article-info {
        flex-direction: column;
        align-items: baseline;
    }

    .post-info.sm-ml-0,
    .sm-ml-0 {
      margin-left: 0;
    }
    .sm-hide{
      display: none !important;
    }
    .sm-flex-column {
      flex-direction: column;
    }
    .sm-only-gap-0 {
      gap: 0;
    }
    .sm-only-gap-fifth {
      gap: calc(var(--gap) /5);
    }
    .sm-only-gap-1 {
      gap: calc(var(--gap));
    }
    .sm-justify-space-around {
      justify-content: space-around;
    }
    .sm-align-baseline {
      align-items: baseline;
    }
  }