*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
:target {
  scroll-margin-block: 5ex;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}
body {
  min-height: 100vh;
}