@font-face {
  font-family: "Mono Lisa";
  font-style: italic;
  src: url("/fonts/MonoLisaVariableItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Mono Lisa";
  font-style: normal;
  src: url("/fonts/MonoLisaVariableNormal.woff2") format("woff2");
}

.as-h1,
h1 {
  font-size: 2em;
}

.as-h2,
h2 {
  font-size: 1.5em;
}

.as-h3,
h2 {
  font-size: 1.2em;
}

h1 + h2,
h2 + h3 {
  margin-top: 0;
}

.as-header,
h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.1;
  text-wrap: balance;
  margin-top: calc(2 * var(--gap));
}

[role="alert"] + h1,
[role="alert"] + h2,
.post-title {
  margin-top: 0;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: 0.7em;
  line-height: 1;
}

sup {
  bottom: 1.4ex;
}
sub {
  top: 0.5ex;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--text);
}

a > span {
  transition: 0.5s ease;
  border-bottom: var(--border) solid var(--faded-line);
}

a:hover > span {
  border-bottom-color: var(--text);
}

.mono,
pre,
samp,
kbd,
code {
  font-family: Mono Lisa, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-variant-ligatures: no-contextual common-ligatures;
  font-variation-settings: normal;
  font-weight: 400;
}

code {
  font-style: normal;
  font-size: inherit;
}

.font-mono {
  font-family: Mono Lisa, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

/* Sizes and helpers */
.small-text {
  font-size: var(--font-small);
}

/* LISTS */
.content ul,
.content ol {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 0 0 0 1em;
}

.content ul {
  list-style-type: none;
}

/* Cool lis */
.content ul li {
  position: relative;
  padding-left: calc(var(--gap) * 1);
}

.content ul li:before {
  content: "—";
}

.content ul li:before {
  display: inline-block;
  color: inherit;
  position: absolute;
  margin-left: calc(var(--gap) * -2);
}
