:root {
  --select: currentColor;
  --gap: 14px;
  --font-tiny: 12px;
  --font-small: 14px;
  --width: 768px;
  --border: 1.5px;
  --radius: 4px;
  --logo: #000;
  --subfaded-text: rgba(0, 0, 0, 0.8);
  --faded-text: rgba(0, 0, 0, 0.4);
  --faded-line: rgba(0, 0, 0, 0.2);
  --faded-bg: rgba(0, 0, 0, 0.06);

  --shiki-tabs-selected-bg: #171717;
  --shiki-tabs-selected-text: #fff;
  --shiki-tabs-bg: rgba(0, 0, 0, 0.08);
  --shiki-tabs-text: #171717;

  /* Shiki for light */
  --shiki-background: transparent;
  --shiki-color-text: #171717;
  --shiki-color-background: transparent;
  --shiki-token-constant: #0068d6;
  --shiki-token-string: #297a3a;
  --shiki-token-comment: #666666;
  --shiki-token-keyword: #bd2864;
  --shiki-token-parameter: #a35200;
  --shiki-token-function: #7820bc;
  --shiki-token-string-expression: #297a3a;
  --shiki-token-punctuation: #171717;
  --shiki-token-link: #297a3a;

  --shiki-light: red;

  --diff-add: rgba(41, 122, 58, 0.2);
  --highlight: rgba(41, 122, 58, 0.2);
  --diff-add-color: rgba(41, 122, 58, 1);

  --dot-size: 8px;
}

[data-theme="light"] {
  --text: #171717;
  --bg: #ffffff;
  --subfaded-text: rgba(33, 33, 33, 0.8);
  --faded-text: rgba(33, 33, 33, 0.4);
  --faded-line: rgba(33, 33, 33, 0.2);
  --faded-bg: rgba(33, 33, 33, 0.06);

  --code-border: rgb(235, 235, 235);
  --code-bg: #fafafa;
  --code-text: rgb(102, 102, 102);
}

/* Themes */
[data-theme="dark"] {
  --select: #2362d1;
  --bg: #18181a;
  --text: rgb(243, 244, 246);
  --logo: rgb(243, 244, 246);
  --subfaded-text: rgba(243, 244, 246, 0.8);
  --faded-text: rgba(243, 244, 246, 0.4);
  --faded-line: rgba(243, 244, 246, 0.2);
  --faded-bg: rgba(243, 244, 246, 0.06);

  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: #ffab70;

  --code-border: #6b737c;
  --code-bg: #1a1a1a;

  --shiki-tabs-selected-bg: rgb(237, 237, 237);
  --shiki-tabs-selected-text: #1a1a1a;
  --shiki-tabs-bg: rgba(255, 255, 255, 0.09);
  --shiki-tabs-text: #fff;
}

[data-theme="js"] {
  --select: rgba(35, 98, 209, 0.5);
  --text: #000;
  --bg: #fddb29;
  --code-border: rgba(33, 33, 33, 0.4);
  --subfaded-text: rgba(0, 0, 0, 0.8);
  --faded-text: rgba(0, 0, 0, 0.51);
  --faded-line: rgba(0, 0, 0, 0.2);
  --faded-bg: rgba(0, 0, 0, 0.06);

  --shiki-color-text: #000;
  --shiki-token-constant: #050a30;
  --shiki-token-string: #000000;
  --shiki-token-comment: #050a30;
  --shiki-token-keyword: #050a30;
  --shiki-token-parameter: #050a30;
  --shiki-token-function: #050a30;
  --shiki-token-string-expression: #050a30;
  --shiki-token-punctuation: #050a30;
  --shiki-token-link: #050a30;
}

.bg-text {
  background-color: var(--text);
}

.bg-bg {
  background-color: var(--bg);
}

.bg-faded-bg {
  background-color: var(--faded-bg);
}
.bg-faded-line {
  background-color: var(--faded-line);
}

.text-text {
  color: var(--text);
}

.text-faded-text {
  color: var(--faded-text);
}
