---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404.">
  <section class="flex justify-center items-center h-screen">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-left"
    >
      <h1
        data-boom
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
        The void is calling.
      </h1>
      <div class="">
        <a href="/" class="text-balance hover:text-balance-light">
          Go back home
        </a>
      </div>
    </div>
  </section>
</Layout>
