---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404." is404={true}>
  <section class="wrap">
    <div class="flex flex-column">
      <h1>
        <span data-boom class="faded"
          >Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </span>
        <span>The void is calling.</span>
        <span class="faded" data-boom
          >Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over 2000 years old.</span
        >
      </h1>
      <div class="mt">
        <a href="/">
          <span> Go back home </span>
        </a>
      </div>
    </div>
  </section>
</Layout>
