---
import Layout from "../layouts/Layout.astro";
import Landing from "@/components/Landing.astro";
---

<Layout title="Welcome.">
  <section class="flex justify-center items-center h-screen">
    <Landing />
  </section>
</Layout>
