---
import Layout from "../layouts/Layout.astro";
import Landing from "@/components/Landing.astro";
---

<Layout title="Welcome">
  <section class="main-center">
    <Landing />
  </section>
</Layout>
