---
import type { CollectionEntry } from "astro:content";
import PostLayout from "@/layouts/PostLayout.astro";
import { toDateString } from "@/lib/date";

export interface Props {
  posts: CollectionEntry<"generative">[];
}
const { posts } = Astro.props;
---

<PostLayout title="Generative art.">
  <div>
    <h1>
      <span>Generative art.</span>
    </h1>

    <ul>
      {
        posts.map(({ data, slug }) => (
          <li>
            <a href={`/${slug}`}>
              <span>
                <span>
                  <span>{data.title}</span>
                </span>
                <time>{toDateString(data.pubDate)}</time>
              </span>
            </a>
            <div>{data.excerpt}</div>
          </li>
        ))
      }
    </ul>
  </div>
</PostLayout>
