---
import type { CollectionEntry } from "astro:content";
import PostLayout from "@/layouts/PostLayout.astro";
import { toDateString } from "@/lib/date";

export interface Props {
  posts: CollectionEntry<"generative">[];
}
const { posts } = Astro.props;
---

<PostLayout title="Generative art.">
  <div class="container flex flex-col max-w-[64rem] mb-10">
    <h1 class="mb-10">
      <span class="text-4xl font-bold">Generative art.</span>
    </h1>

    <ul class="flex flex-col gap-7">
      {
        posts.map(({ data, slug }) => (
          <li>
            <a href={`/${slug}`}>
              <span class="flex place-content-between  gap-10">
                <span class="flex flex-col gap-2">
                  <span>{data.title}</span>
                </span>
                <time class="opacity-50 text-sm date text-right">
                  {toDateString(data.pubDate)}
                </time>
              </span>
            </a>
            <div class="opacity-50 max-w-lg mt-1">{data.excerpt}</div>
          </li>
        ))
      }
    </ul>
  </div>
</PostLayout>
