---
import ThemeSelector from "./ThemeSelector.astro";
import Social from "./Social.astro";
const today = new Date();
---

<footer class="wrap top-border mt-2">
  <div
    class="flex small-text text-faded-text full-width space-between center flex-center"
  >
    <div class="flex center gap-half flex-center">
      <div class="copy flex">
        &copy; {today.getFullYear()}.
      </div>
      <span class="dot"></span>
      <Social />
    </div>
    <div>
      <div class="social flex gap-1 center">
        <ThemeSelector />
      </div>
    </div>
  </div>
</footer>
