<div class="flex">
  <div>
    <h1>
      Hello there.
      <br />
      <span class="faded">
        You've reached the personal website of
        <span class="highlight">Theodore.</span>
      </span>
    </h1>
  </div>
</div>
