---
import LatestPost from "./LatestPost.astro";
import Playing from "./Playing.svelte";
---

<div class="wrap">
  <div>
    <span class="as-h1 as-header">
      Hello, I am <a class="big-link" href="/about">Theodore.</a>
      <br />
      <span class="faded">
        an independent software engineer and a tech enthusiast from Greece.
      </span>
      <br />
      <span class="faded">
        Currently building <a class="big-link" href="https://proxima.so">
          Proxima Analytics.
        </a>
      </span>
      <span class="faded">
        I like <a class="big-link" href="/posts">to write</a> about software and
        try to create <a class="big-link" href="/projects">some stuff</a> for the
        web.
      </span>
    </span>
    <span class="as-h1 as-header faded">
      Occasionally I travel and <a class="big-link" href="/talks">speak</a> at conferences.
    </span>
    <h2 class="faded relaxed">
      <LatestPost />
    </h2>
    <h2 class="faded relaxed">
      <Playing client:only />
    </h2>
  </div>
</div>

<style>
  /* tiny override */
  h2 + h2 {
    margin-top: calc(var(--gap));
  }
</style>
