---
import Playing from "./Playing.astro";
---

<div class="wrap">
  <div>
    <span class="as-h1 as-header">
      Hello there.
      <br />
      <span class="faded">
        You've reached my personal corner of the internet.
        <span class="text-text">
          My name is Theodore and you can learn more <a href="/about"
            ><span>about me</span></a
          >.</span
        >✦ →
        <Playing />
      </span>
    </span>
  </div>
</div>
