---
export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const prev = currentPage > 1 ? "" : "disabled";
const next = currentPage < totalPages ? "" : "disabled";
---

<div class="mt">
  {
    totalPages > 1 && (
      <nav aria-label="Pagination" class="flex gap-1 small-text">
        {
          <a
            aria-disabled={prev === "disabled"}
            href={prevUrl}
            aria-label="Previous"
          >
            Previous
          </a>
        }
        {currentPage} / {totalPages}
        <a aria-disabled={next === "disabled"} href={nextUrl} aria-label="Next">
          Next
        </a>
      </nav>
    )
  }
</div>

<style>
  [aria-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
</style>
