---
export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const prev = currentPage > 1 ? "" : "disabled";
const next = currentPage < totalPages ? "" : "disabled";
---

<div class="mt">
  {
    totalPages > 1 && (
      <nav aria-label="Pagination" class="flex gap-1 small-text">
        {prev === "disabled" && <span aria-disabled>Previous</span>}
        {prev !== "disabled" && (
          <a aria-label="Previous">
            <span>Previous</span>
          </a>
        )}
        {currentPage} / {totalPages}
        {next === "disabled" && <span aria-disabled>Next</span>}
        {next !== "disabled" && (
          <a href={nextUrl} aria-label="Next">
            <span>Next</span>
          </a>
        )}
      </nav>
    )
  }
</div>

<style>
  [aria-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
</style>
