<label style="--sl-select-width: 7em">
  <span class="only">Select Theme</span>
  <select data-switch-theme>
    <option value="light">Light</option>
    <option value="dark">Dark</option>
    <option value="js">Js</option>
  </select>
</label>

<style>
  .only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
