<button aria-label="Toggle Mobile Menu" data-toggle-menu>
  <span class="sr-only">Toggle Mobile Menu</span>
  <span class="menu-bar top-bar"></span>
  <span class="menu-bar bottom-bar"></span>
</button>
