<!-- mininal terminal fots -->
<div class="flex gap-half">
  <div class="t-dot"></div>
  <div class="t-dot"></div>
  <div class="t-dot"></div>
</div>
<style>
  .t-dot {
    --dot-size: 8px;
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--faded-line);
    border-radius: 50%;
  }
</style>
