---
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title}`}>
  <Header />
  <main class="wrap">
    <div class="content">
      <slot />
    </div>
  </main>
</Layout>
