---
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title}`}>
  <Header />
  <main id="main-content" class="min-w-full sm:max-w-none md:max-w-none">
    <div class="prose lg:prose-xl dark:prose-dark min-w-full">
      <slot />
    </div>
  </main>
  <Footer />
</Layout>
