---
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";

interface Props {
  isArt?: boolean;
  title: string;
  description?: string;
  metaDescription?: string;
  keywords?: string[];
}
const {
  title,
  description,
  isArt = false,
  metaDescription,
  keywords,
} = Astro.props;
---

<Layout
  title={title}
  description={description}
  metaDescription={metaDescription}
  keywords={keywords}
>
  <Header isPost={!isArt} />
  <main class="wrap">
    <slot />
  </main>
</Layout>
