---
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";

export interface Props {
  title?: string;
  description?: string;
  frontmatter?: {
    title: string;
    description?: string;
  };
}
const { frontmatter, title } = Astro.props;
---

<Layout title={`${title ?? frontmatter?.title}`}>
  <Header />
  <main class="wrap">
    <div class="content single">
      <slot />
    </div>
  </main>
</Layout>
